<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.madhu.neardlauncher"
    android:versionCode="0"
    android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19"/>
    <application
        android:label="NeardLauncher"         
        android:icon="@drawable/android:star_big_on"
        >

        <activity android:name=".NerdLauncherActivity">
        <intent-filter>
         <action android:name="android.intent.action.MAIN" />
           <category android:name="android.intent.category.LAUNCHER" />
           <category android:name="android.intent.category.HOME" />
           <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
        </activity>        
    </application>
</manifest>